aws-cdk-lib
constructs
aws_cdk.aws_lambda_python_alpha
aws_cdk.aws_events_targets
aws_cdk.aws_secretsmanager
aws_cdk.aws_apigateway
aws_cdk.aws_lambda
aws_cdk.aws_events
feedparser
requests
lxml
newspaper3k
pymongo
python-dateutil